.post-image-label{
    background-color: #eaeaea;
    color:#000;
    width: 100%;
    aspect-ratio: 1;
    border-radius: .6em;
    padding:4px;
    display: flex;
    align-items: center;
    justify-content: center;
}