.feed-page{
    
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .feed{
        max-width: 400px;
        width:100%;

        .posts{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap:0.8rem;
        }

        .post{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            gap:0.5rem;
            background-color: #760413;
            width: 100%;
            min-height: 100vh;
            padding-inline: 0.5rem;
            padding-block: 0.5rem;
            border-radius: .3em;

            .user{
                display: flex;
                gap:0.5rem;
                align-items: center;

                .img-wrapper{
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 3px solid transparent;
                    background: conic-gradient(from 45deg,  #feda75,#fa7e1e,#d62976,
                    #962fbf,#4f5bd5,#feda75) border-box;
                }

                img{
                    width:2rem;
                    border-radius: 50%;
                    aspect-ratio: 1;
                    object-fit: cover;
                }
            }

            img{
                width:100%;
                object-fit: cover;
            }

            .post-img{
                //min-height: 450px;
                flex-grow: 2;
            }

            .icons{

                display: flex;
                justify-content: space-between;
                align-items: center;

                .left{
                    display: flex;
                    gap:0.5rem;
                }

                svg{
                    width:1.5rem;
                    aspect-ratio: 1;
                    color:#fff;
                    cursor: pointer;
                }

                svg.liked{
                    color:#d62976;
                    fill:#d62976;
                }

                button{
                    background-color: transparent;
                    border: none;
                    outline: none;
                }
            }
        }
    }
}